/*! purgecss start ignore */
@tailwind base;

h1 {
    @apply text-2xl;
    @apply mb-4;
  }
  h2 {
    @apply text-xl;
    @apply mb-3;
  }
  h3 {
    @apply text-lg;
  }

  .card{
    min-width: 22rem;
  }
  .link-transition{@apply transition duration-300 ease-out transform ;}

  /* global styling for the 'Stream' & 'Read full' links  */
  .link-colors{@apply text-custom-yellow-500 ;}
  .link-colors:hover{@apply text-custom-off-yellow-500;}

  /* about page text highlight */
  .about-link{@apply text-custom-gray-seconday bg-custom-off-yellow-500;}
  .about-link:hover{@apply scale-105 bg-custom-yellow-400;}

@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;

/* @font-face {
    font-family: 'Circular' ;
    src: url(/src/fonts/Circular/CircularStd-Black.otf);
  }
  @font-face {
    font-family: 'Circular';
    src: url(/src/fonts/Circular/CircularStd-Medium.otf);
  } */

  /* to make sure code snippets don't overflow out of mobile viewport width */
  code[class*="language-"],
  pre[class*="language-"] {
    max-width: 95vw;
  }

  body {
    font-family: 'Circular-Book';
}

/* Scrollbar for the card containers */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}